@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Libre+Franklin:wght@100&family=Raleway:wght@200&family=Wix+Madefor+Display&display=swap');
body {
    background-color: rgb(0, 0, 0);
} 
.center {
	display: flex;
    justify-content: center;
    align-items: center;
}
footer {
    display: flex;
    justify-content: center;
    padding: 1em;
    align-items: center;
    background: #000000;
    margin-top: 10px;
    border: 2px solid #fff;
    border-radius: 10px;

}
.text-nav{
    color: white;
    font-size: 20px;
    text-align: center;
    font-family: 'Wix Madefor Display', sans-serif;
    max-width: 70%;
    margin: auto;
}
.project {
    border: 2px solid #fff;
    padding: 25px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    width: 30%;
    border-radius: 10px;
}
.project:hover {
  	background: #222;
}
.project span {
  	font-size: 24px;
}
.title {
    font-family: 'Wix Madefor Display', sans-serif;
    text-align: center;
    font-size: 45px;
    animation: title 60s infinite;
    color: rgb(252, 252, 252);
}
.text{
    color: white;
    font-size: 20px;
    text-align: center;
    font-family: 'Wix Madefor Display', sans-serif;
    max-width: 70%;
    margin: auto;
}
.text2{
    color: white;
    font-size: 30px;
    text-align: center;
    font-family: 'Wix Madefor Display', sans-serif;
    margin-left: 16px;
}

button { 
    font-family: 'Wix Madefor Display', sans-serif;
    /*width: 160px; 
    height: 70px;*/
    border: none;
    outline: none;
    color: #fff;
    background: #000000;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-size: 24px;
    margin: 6px;
    padding: 0.8em;
}
  
button:before{
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 15s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}
  
button:active {
    color: #000;
}
  
button:active:after {
    background: transparent;
}
  
button:hover:before {
    opacity: 1;
}
  
button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000000;
    left: 0;
    top: 0;
    border-radius: 10px;
}
  
@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}



/* button {
    border-radius: 8px;
    width:160px; 
    height:70px;
    transition-duration: 0.3s;
    border: 1px solid rgb(0, 0, 0);
    opacity: 0.9;
    text-align: center;
    
    
    background-color: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
} */
a {
    text-decoration: none;
    color: #fff;
    font-family: 'Wix Madefor Display', sans-serif;
}
span {
    color: #fff;
    font-family: 'Wix Madefor Display', sans-serif;
}
ol {
    margin: auto;
    color: #fff;
    font-family: 'Wix Madefor Display', sans-serif;
    text-align: center;
    list-style-position: inside;
    padding: 0;
}
li {
	font-size: 18px;
}
.social-icons {
	flex-direction: row;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    font-size: 30px;
    margin: 5px;
}
.social-icons-container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-icon {
    transition-duration: 0.2s;
}
.social-icon:hover {
    color: #ccc;
    transition-duration: 0.2s;
}