@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Libre+Franklin:wght@100&family=Raleway:wght@200&family=Wix+Madefor+Display&display=swap');
body {
    background-color: rgb(0, 0, 0);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.center {
	display: flex;
    justify-content: center;
    align-items: center;
}
.warning {
    width: fit-content;
    background: #482500;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 10px auto;
    max-width: 95%;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000;
  margin-top: 10px;
  border: 2px solid #fff;
  border-radius: 10px;
  width: 85%;
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
}
h1, h2, h3 {
    margin: 20px 0;
}
.text-nav {
    color: white;
    font-size: 20px;
    text-align: center;
    max-width: 70%;
    margin: auto;
}
.project, .superdiv {
    border: 2px solid #fff;
    padding: 25px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    width: 45%;
    border-radius: 10px;
}
.project:hover, .button:hover {
  	background: #222;
}
.project:active, .button:hover {
    background: #252525;
}
.project span {
  	font-size: 24px;
}
.title {
    font-family: 'Wix Madefor Display', sans-serif;
    text-align: center;
    font-size: 45px;
    animation: title 60s infinite;
    color: rgb(252, 252, 252);
}
.text, p {
    color: white;
    font-size: 20px;
    text-align: center;
    
}
.text, p, .text2, button, .title, .text-nav{
    font-family: 'Wix Madefor Display', sans-serif;
}
.text2 {
    color: white;
    font-size: 30px;
    text-align: center;
    margin-left: 16px;
}
button{
    color: #fff;
    background: #000000;
    border-radius: 10px;
    border: 2px solid #fff;
    font-size: 24px;
    margin: 6px;
    padding: 16px;
}
/* это я не писал оно само */
a {
    text-decoration: none;
    color: #fff;
    font-family: 'Wix Madefor Display', sans-serif;
}
span {
    color: #fff;
    font-family: 'Wix Madefor Display', sans-serif;
}
ol {
    margin: auto;
    color: #fff;
    font-family: 'Wix Madefor Display', sans-serif;
    text-align: center;
    list-style-position: inside;
    padding: 0;
}
li {
	font-size: 18px;
}
.social-icons {
	flex-direction: row;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    font-size: 30px;
    margin: 5px;
}
.social-icons-container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-icon {
    transition-duration: 0.2s;
}
.social-icon:hover {
    color: #ccc;
    transition-duration: 0.2s;
}