@keyframes title {
    0%{
        color:red;
    }
    1%{
        color:orange;
    }
    2%{
        color: yellow;
    }
    3%{
        color: green;
    }
    4%{
        color: royalblue;
    }
    5%{
        color: blue;
    }
    6%{
        color: purple;
    }
    7%{
        color:red;
    }
    8%{
        color:orange;
    }
    9%{
        color: yellow;
    }
    10%{
        color: green;
    }
    11%{
        color: royalblue;
    }
    12%{
        color: blue;
    }
    13%{
        color: purple;
    }
    14%{
        color:red;
    }
    15%{
        color:orange;
    }
    16%{
        color: yellow;
    }
    17%{
        color: green;
    }
    18%{
        color: royalblue;
    }
    19%{
        color: blue;
    }
    20%{
        color: purple;
    }
    21%{
        color:red;
    }
    22%{
        color:orange;
    }
    23%{
        color: yellow;
    }
    24%{
        color: green;
    }
    25%{
        color: royalblue;
    }
    26%{
        color: blue;
    }
    27%{
        color: purple;
    }
    28%{
        color:red;
    }
    29%{
        color:orange;
    }
    30%{
        color: yellow;
    }
    31%{
        color: green;
    }
    32%{
        color: royalblue;
    }
    33%{
        color: blue;
    }
    34%{
        color: purple;
    }
    35%{
        color:red;
    }
    36%{
        color:orange;
    }
    37%{
        color: yellow;
    }
    38%{
        color: green;
    }
    39%{
        color: royalblue;
    }
    40%{
        color: blue;
    }
    41%{
        color: purple;
    }
    42%{
        color:red;
    }
    43%{
        color:orange;
    }
    44%{
        color: yellow;
    }
    45%{
        color: green;
    }
    46%{
        color: royalblue;
    }
    47%{
        color: blue;
    }
    48%{
        color: purple;
    }
    49%{
        color:red;
    }
    50%{
        color:orange;
    }
    51%{
        color: yellow;
    }
    52%{
        color: green;
    }
    53%{
        color: royalblue;
    }
    54%{
        color: blue;
    }
    55%{
        color: purple;
    }
    56%{
        color:red;
    }
    57%{
        color:orange;
    }
    58%{
        color: yellow;
    }
    59%{
        color: green;
    }
    60%{
        color: royalblue;
    }
    61%{
        color: blue;
    }
    62%{
        color: purple;
    }
    63%{
        color:red;
    }
    64%{
        color:orange;
    }
    65%{
        color: yellow;
    }
    66%{
        color: green;
    }
    67%{
        color: royalblue;
    }
    68%{
        color: blue;
    }
    69%{
        color: purple;
    }
    70%{
        color:red;
    }
    71%{
        color:orange;
    }
    72%{
        color: yellow;
    }
    73%{
        color: green;
    }
    74%{
        color: royalblue;
    }
    75%{
        color: blue;
    }
    76%{
        color: purple;
    }
    77%{
        color:red;
    }
    78%{
        color:orange;
    }
    79%{
        color: yellow;
    }
    80%{
        color: green;
    }
    81%{
        color: royalblue;
    }
    82%{
        color: blue;
    }
    83%{
        color: purple;
    }
    84%{
        color:red;
    }
    85%{
        color:orange;
    }
    86%{
        color: yellow;
    }
    87%{
        color: green;
    }
    88%{
        color: royalblue;
    }
    89%{
        color: blue;
    }
    90%{
        color: purple;
    }
    97%{
        color:red;
    }
    93%{
        color:orange;
    }
    95%{
        color: yellow;
    }
    96%{
        color: green;
    }
    97%{
        color: royalblue;
    }
    98%{
        color: blue;
    }
    100%{
        color: purple;
    }
  }